.header-bar {
    /* background: linear-gradient(135deg, #67cbf6 0%, #4adede 100%); */
    /* background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */}

.children-content {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    background-color: #fff;
    max-height: 85vh;
    overflow-y: scroll;
    margin-top: 20px;
}
.children-content::-webkit-scrollbar {
    display: none;
    
}